:root {
  --active: #ff04fb;
  --main: #0AA373;
  --lgray: #efefef;
}
* {
  box-sizing: border-box;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
body::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 15px;
}

h3 {
  margin: 5px 0;
  font-weight: 500;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: 0.5s;
  padding: 0 30px;
}
.header-shadow {
  box-shadow: 0px -10px 70px -10px #00b274;
  transition: 0.5s;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav-menu-item {
  margin-right: 30px;
}
.nav-menu-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}
.link-active {
  font-weight: 700;
  color: var(--main) !important;
}


/* mobile menu */
.menu-button {
  display: none;
}
.menu-close {
  display: none;
}
.menu-image {
  display: none;
}
.contacts {
  text-decoration: none;
  color: white;
  background-color: var(--main);
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.2s ease-in;
}
.contacts:hover {
  background-color: #4f7302;
  transition: 0.2s ease-in;
}

/* logo */
.logo {
  height: 32px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
}
.logo img {
  height: 100%;
}
.logoName {
  display: block;
  opacity: 1;
  transition: 0.5s;
}
.logoName-scroll {
  transition: 0.5s;
  opacity: 0;
}

/* slick slider  */
.slick .slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slider{
  position: relative;
  overflow: hidden;
}
.slider .slick-slide {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.slider .slick-arrow {
  position: absolute;
  bottom: 30px;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  display: block;
  top: 50%;
}
.slider .slick-arrow.slick-prev {
  left: 20px;
  z-index: 1;
  opacity: 0.3;
  transition: 0.3s;
  background: url('../img/back.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 20px;
  opacity: 0.3;
  transform: translateX(0);
  transition: 0.3s;
  background: url('../img/next.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next:hover {
  transform: translateX(5px);
  transition: 0.3s;
  opacity: 1;
}
.slider .slick-arrow.slick-prev:hover {
  transform: translateX(-5px);
  transition: 0.3s;
  opacity: 1;
}
.slider .slick-dots {
  position: absolute;
  display: flex !important;
  bottom: 20px;
  left: 43%;
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: var(--main);
  border: 1px solid var(--main);
  border-radius: 15px;
  margin: 0 10px;
  cursor: pointer;
}
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid var(--main);
}


/* HEADING */
.heading {
  width: 50%;
}
.heading-block {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.heading-image {
  height: 500px;
  width: 500px;
  margin: 0 50px 50px 0;
  margin-bottom: 0;
}
.heading-image img{
  height: 100%;
}
.heading-title {
  text-transform: uppercase;
  font-size: 39px;
  font-weight: 700;
}
.heading-subtitle {
  font-weight: 100;
  font-size: 20px;
  margin: 15px 0 20px;
}


/* section */
.container {
  max-width: 1332px;
  width: 90%;
  margin: auto;
  padding: 0 30px;
}
.lgray {
  background-color: var(--lgray);
}
section {
  padding: 10% 0;
}
.title {
  font-size: 38px;
  font-weight: 900;
  margin: 50px 0;
  color: var(--main);
}
.subtitle {
  font-size: 18px;
  font-weight: 700;
}
.section-heading {
  /* text-align: center; */
  /* max-width: 800px; */
  margin: 0 auto 5%;
}


/* cards */
.cards {
  display: flex;
  flex-flow: row wrap;
}
.card {
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  width: calc((100% / 3) - 10px);
  transition: all 0.2s ease-in-out;
  padding: 20px 50px 20px 20px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  z-index: 1;
  color: black;
  text-decoration: none;
}
.doc-card {
  cursor: pointer;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
  padding-left: 40px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  z-index: 1;
  color: black;
  text-decoration: none;
  font-size: 14px;
  min-height: 40px;
}
.card img {
  height: 50px;
  margin: 30px 0;
}
.download:after  {
  content: url("../img/download-icon.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.card:hover {
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
}

/* accordeon */
.doc {
  cursor: pointer;
  margin: 0 auto;
  overflow: visible;
  background: var(--lgray);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question:hover h3 {
  color: var(--main) !important;
}
.answer {
  line-height: 1.6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.doc.active .answer {
  max-height: 3000px;
}

.doc.active svg {
  transform: rotate(180deg);
}

.question svg {
  transition: transform 0.5s ease-in;
  margin-left: 20px;
}

.divider {
  background-color: #efefef;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  margin: 20px 0;
}


/* table */

.wrapper {
  overflow-x: auto;
}
table {
  margin: 1em 0;
  min-width: 300px;
  text-align: left;
  border-collapse: collapse;
}
th {
  font-size: 10px;
  padding: 10px;
  background-color: rgb(49 36 80 / 15%);
}
td {
  padding: 10px;
}
tbody:hover {
  background-color: rgb(49 36 80 / 5%);
}


/* footer */
.footer {
  padding: 50px 0;
  background-color: #273901;
}
.footer-text {
  color: white;
  text-align: center;
  opacity: 0.5;
  width: 80%;
  margin: auto;
}
.footer-contacts {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.footer-contacts a {
  text-decoration: none;
  color: white;
}

/* TOP */
.top-second-open  {
  transform: translateY(0px) !important;
  transition: 0.5s;
}

.top-second {
  right: 20px;
  position: fixed;
  bottom: 20px;
  transform: translateY(95px);
  width: 46px;
  height: 46px;
  margin-left: -23px;
  background: var(--main);
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 3;
  transition: 0.5s;
}
.top-second::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -3px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-sizing: border-box;
}
.top-second::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 46px;
  height: 46px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  60% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  60% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}



@media (max-width: 1024px) {
  .header {
    padding: 0 15px;
    height: 60px;
  }
  .nav {
    margin-left: auto;
  }
  .logo-link {
    display: none;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
  }
  .nav-menu-item {
    margin: 2% 0;
  }
  .nav-menu-link {
    font-size: 20px;
  }
  .menu-button {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 9;
    margin-right: -10px;
  }
  .menu-close {
    position: fixed;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-left: auto;
    z-index: 10;
    transform: translateX(300%);
    transition: transform 0.4s ease-in-out;
  }
  .is-active {
    transform: translateX(0);
  }
  .nav-contacts {
    margin-top: 20px;
  }
  .slider .slick-dots {
    display: none !important;
  }
  .slider .slick-arrow {
    display: none !important;
  }
  .heading-title {
    font-size: 26px;
  }
  .heading-subtitle {
      font-size: 18px;
      margin: 15px 0 20px;
  }
  .heading-image {
    height: 30vh;
    width: auto;
    margin: auto;
    margin-bottom: 50px;
  }
  .heading {
    width: 100%;
    text-align: center;
  }
  .heading-block {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }
  .card {
    width: calc((100% / 1) - 10px);
  }
  .doc-card {
    width: calc((100% / 1) - 10px);
    margin: 15px 0;
  }
}