@import url("header-footer.css");
@import url("slider.css");

:root {
  --main: #0AA373;
  --lgray: #F7F7F2;
}
* {
  box-sizing: border-box;
}
p {
  line-height: 1.5;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
body::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main);
}
a {
  text-decoration: none;
  color: black;
}
h1, h2, h3, h4 {
  color: var(--main);
  font-weight: 700;
}
.w100 {
  width: 100%;
}
.mt50 {
  margin-top: 5%;
}
.mb50 {
  margin-bottom: 5%;
}
.m50 {
  margin: 5%;
}
.vh100 {
  height: 100vh;
}
.vh30 {
  height: 30vh;
}
.vh15 {
  height: 15vh;
}
.vh10 {
  height: 10vh;
}
.vh5 {
  height: 7vh;
}

/* animation bacground =================== */
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* content ================================*/
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10% 0;
  text-align: left;
}
.slider-image {
  max-width: 500px;
  width: 50%;
  margin: 0 5% 0 0;
}
.project-image {
  height: 10vh;
}
.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: var(--main);
  letter-spacing: 1px;
}
.subtitle {
  font-size: 20px;
}

/* button ============================ */
.button  {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.2s ease-in;
  color: #0AA373;
  display: inline-block;
}
.button:hover {
  background-color: var(--main);
  transition: 0.2s ease-in;
  color: white !important;
  box-shadow: 0px 7px 30px rgb(0 178 116 / 40%);
}
.primary {
  background-color: var(--main);
  color: white;
}
.secondary {
  border-radius: 50px;
  color: var(--main) !important;
  border: 2px solid var(--main) !important;
}

/* section ============================ */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.lgray {
  background-color: var(--lgray);
}
section {
  padding: 5% 0;
}

/* items ================================== */
.items {
  display: flex;
  flex-flow: row wrap;
}
.item {
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  width: calc((100% / 3) - 10px);
  transition: all 0.2s ease-in-out;
  padding: 30px;
  margin: 5px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 200px;
}
.item div {
  font-size: 14px;
}
.item img {
  height: 40px;
  margin-bottom: 15px;
}
.item-link {
  font-size: 14px;
  color: grey;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.item:hover .item-link {
  color: #0AA373;
}
.item:hover {
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
}

/* docs ========================================= */
.doc-card {
  cursor: pointer;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
  padding-left: 50px;
  margin: 15px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  min-height: 40px;
}
.download:after  {
  content: url("../img/download-icon.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.feature {
  padding-left: 40px;
  margin: 25px 0;
  position: relative;
  font-weight: 500;
}
.addres:after  {
  content: url("../img/point.svg");
  position: absolute;
  left: 0;
  top: 0px;
}
.phone:after  {
  content: url("../img/phone.svg");
  position: absolute;
  left: 0;
  top: 0px;
}
.vk:after  {
  content: url("../img/vk.svg");
  position: absolute;
  left: 0;
  top: 0px;
}
.telegram:after  {
  content: url("../img/telegram.svg");
  position: absolute;
  left: 0;
  top: 0px;
}
.bullit:after  {
  content: url("../img/bullit-alm.svg");
  position: absolute;
  left: 0;
  top: 0px;
}

/* table ==================================== */
.wrapper {
  overflow-x: auto;
}
table {
  margin: 1em 0;
  min-width: 300px;
  text-align: left;
  border-collapse: collapse;
}
th {
  font-size: 10px;
  padding: 10px;
  background-color: rgb(49 36 80 / 15%);
}
td {
  padding: 10px;
}
tbody:hover {
  background-color: rgb(49 36 80 / 5%);
}

/* TOP =====================================*/
.top-second-open  {
  transform: translateY(0px) !important;
  transition: 0.5s;
}
.top-second {
  right: 20px;
  position: fixed;
  bottom: 20px;
  transform: translateY(95px);
  width: 46px;
  height: 46px;
  margin-left: -23px;
  background: var(--main);
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 3;
  transition: 0.5s;
}
.top-second::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -3px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-sizing: border-box;
}
.top-second::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 46px;
  height: 46px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  60% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  60% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

/* project-block ===================== */
.project-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.project-block img {
  max-width: 500px;
  width: 90%;
  margin: 50px;
}

.contacts {
  padding: 30px;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contacts-info {
  width: 40%;
}
.contacts .button {
  margin: 30px 0 50px;
}
.contacts iframe {
  border-radius: 10px;
  width: 60%;
}

/* search ===================== */
#search {
  border: none;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}
.no-results {
  text-align: center;
  font-size: 39px;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .subtitle {
    font-size: 18px;
  }
  .content-image-project {
    height: 2%;
    margin: 50px 0px;
  }
  .content {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 22px;
  }
  .vh15 {
    height: 10vh;
  }
  .container {
    padding: 0;
  }
  .item, .doc-card {
    width: calc((100% / 1) - 10px);
  }
  .doc-card {
    margin: 20px 15px;
  }
  .project-block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts-info {
    flex-direction: column;
  }
  .contacts iframe, .contacts-info {
    width: 100%;
  }
  .slider-image {
    margin: 0 0 10% 0;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 24px;
  }
}